@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  height: 100vh;
  background: #000;
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
